In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

In [19]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [21]:
items.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [33]:
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

In [35]:
# Count how many times each movie_id was rated
movie_rating_count = ratings['movie_id'].value_counts().reset_index()
movie_rating_count.columns = ['movie_id', 'rating_count']

In [37]:
# Merge with the items DataFrame to get movie titles
popular_movies = pd.merge(movie_rating_count, items[['movie id', 'movie title']], 
                          left_on='movie_id', right_on='movie id')

# Drop duplicate ID column and sort
popular_movies = popular_movies[['movie title', 'rating_count']]
popular_movies = popular_movies.sort_values(by='rating_count', ascending=False)

In [39]:
print("Top 10 Popular Movies:")
print(popular_movies.head(10))

Top 10 Popular Movies:
                     movie title  rating_count
0               Star Wars (1977)           583
1                 Contact (1997)           509
2                   Fargo (1996)           508
3      Return of the Jedi (1983)           507
4               Liar Liar (1997)           485
5    English Patient, The (1996)           481
6                  Scream (1996)           478
7               Toy Story (1995)           452
8           Air Force One (1997)           431
9  Independence Day (ID4) (1996)           429